        .footer {
            height: 400px;
            color: white;
            background-color: #152A3D;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 7rem;
            }
            a {
                color: white;
                padding: 0rem 3rem;
            }
            a:hover {
                color: rgb(192, 192, 192);
            }
            .copywrite {
                padding-top: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .khan {
                    padding-top: 0.5rem;
                }
            }
            .footer-icon {
                padding-top: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 2rem;
                    cursor: pointer;
                }
                #facebook {
                    margin: 0rem 2rem;
                }
            }
        }
        
        @include tablet {
            .footer {
                ul a {
                    font-size: 0.98rem;
                    padding: 0rem 1rem;
                }
                p {
                    font-size: 0.85rem;
                }
            }
        }
        
        @include mobile {
            .footer {
                ul {
                    flex-wrap: wrap;
                }
            }
            .copywrite p {
                font-size: 0.8rem;
            }
        }